<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PDF_OCR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PDF_OCR.Properties.Settings>
            <setting name="PDF24EXE" serializeAs="String">
                <value>C:\Program Files\PDF24\pdf24-Ocr.exe</value>
            </setting>
            <setting name="Quellordner" serializeAs="String">
                <value>C:\Temp\PDF\</value>
            </setting>
            <setting name="Zielordner" serializeAs="String">
                <value>C:\Temp\OCR\</value>
            </setting>
        </PDF_OCR.Properties.Settings>
    </userSettings>
</configuration>